.shopping-board{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 50rem;
}

.form-fields{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-btn{
    width: 5rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0 0 0;
  font-size: 1rem;
  min-width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

tbody tr:hover {
  background-color: #f1f1f1;
}