/* .tasklist{
  margin:2rem 0 0 10rem;
  color: black;
  background-color: aliceblue;
  width: 10rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tasklist:hover{
  background-color: white;
  color: black;
} */